.stats-grid:first-child::before {
    content: "\1F525";
    display: block;
    font-size: 2em;
}

.stats-grid:last-child {
    background-image: linear-gradient(to right, #6878E1, #754FA8);
}

.stats-grid:last-child .stat-number,
.stats-grid:last-child .stat-label {
    color: white;
}

.stats-grid:hover {
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
    translate: 0 -5px;
}

.workout-plan:nth-child(3) {
    background-color: rgb(244, 244, 156);
    border-left: 4px solid #F39C12;
}

.exercise-item:first-child,
.exercise-item:last-child {
    background-color: rgb(230, 255, 211);
    border-left: 4px solid rgb(129, 187, 41);
}
